.note::-webkit-scrollbar {
    display: none;
  }

.note{
    flex: 1;
    flex-basis: 180px;
    max-width: 180px;
    position: relative;
    padding: 30px;
    height:180px;
    overflow: hidden;
    border-radius: 5px;
    background: linear-gradient(40deg ,#FFE 25%, rgba(211, 243, 251, 0.544) 50%, #fff);
    /* cursor: pointer; */
}
@media (min-width:480px) {
    .note,.btn-addNote{
        max-height: 350px;
    }
}
.note > form{
    position: absolute;
    top: 0;
    right: 0;
    padding: 0;
    margin: 0;
}
.title{
    color: #343434;
}
.content{
    color: #4e8ff9;
}

.btn-deleteNote{
    font-size: 1.8rem;
    border: none;
    background: none;
    height: fit-content;
    width: fit-content;
    padding: 5px;
    color: #4e4e4e;
}
